.img-thumbnail {
    padding: 1px;
}
.post-box {
    margin: 0px 0px 0px 0px;
    float: right !important;
}

.col-sm-4{
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;   
}

.items{
    width: 40px;
}

/*!
 .masonry{
    padding-left: 16%;
}
 */
.footer{
    color: grey;
    font-family: 'Josefin Sans', sans-serif;
    border-top-color: white;
}
.height{
    height: 70px;
    position: relative;
}

.opac{
    opacity: .5;
}
.anotherone{
	color:white !important;
        text-decoration: none;
        font-family: 'Pompiere', cursive;
	font-size: 24px;
}
